<ul>
    <li class="parent"><a href="#">Продажи</a>
        <ul>
            <li class="parent"><a href="#">Подменю1</a>
                <ul>
                    <li><a href="#">Подменю1-1</a></li>
                    <li><a href="#">Подменю1-2</a></li>
                    <li><a href="#">Подменю1-3</a></li>
                </ul>
            </li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">Изменения и направления</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">Надежность</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">Признание и награды</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">Резерв</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">Резерв</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
</ul>
