<ul>
    <li class="active"><a href="#">Виды топлива</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">Стоимость в Украине</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">Характеристики</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">Стоимость в мире</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">Калькулятор</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">Тесты топлива</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
</ul>
