<ul>
    <li><a href="#">История</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">Общие требования</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li class="parent"><a href="#">Классификация и обозначения</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">Тесты масел</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">Резерв</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">Резерв</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
</ul>
