<div class="page-header">
    <h1 class="page-header--title title title--main">Маркировка моторных масел.</h1>
    <div class="page-header--info">
                            <span class="page-header--info-date page-header--info-content"><i
                                    class="icon clock-icon"></i><span
                                    class="page-header--info-value">9 ноября, 2016</span></span>
        <span class="page-header--info-chat page-header--info-content"><i class="icon chat-icon"></i><span
                class="page-header--info-value">12</span></span>
        <span class="page-header--info-eye page-header--info-content"><i class="icon eye-icon"></i><span
                class="page-header--info-value">56</span></span>
    </div>
</div>
<div class="page-image">
    <img src="img/oil.jpg" alt="oil" class="img-responsive">
</div>
<p class="page-quote">оторные масла делят на бензиновые, дизельные и универсальные. Также масла подразделяют на летние, зимние и всесезонные. Особенностью каждой группы являются классы вязкости.</p>
<div class="page-text">
    <p>Свойства и качество моторного масла зависят от базового масла, служащего основой, и набора присадок. В зависимости от вида базового, масла разделяются на минеральные, полусинтетические и синтетические. Сейчас получила распространение система классификации моторных масел Общества автомобильных инженеров США, известная как классификация SAE. Классификация SAE позволяет оценить такие показатели, как вязкость при низкой и высокой температуре, прокачиваемость, пусковые свойства.</p>
    <p>К летним, наиболее вязким, относятся масла классов:<br/>AE 20, SAE 30, SAE 40, SAE 50, SAE 60.</p>
    <p>Число обозначает вязкость, чем оно больше, тем более вязким является масло.</p>
    <p>К зимним маслам относятся масла классов:<br/>SAE 0W, SAE 5W, SAE 10W, SAE 15W, SAE 20W.</p>
    <p>Во всех обозначениях зимних масел присутствует буква W – winter, то есть зимнее.</p>
    <p>К всесезонным относятся масла классов:<br/>SAE 0W-30, SAE 0W-40, SAE 5W-30, SAE 5W-40, SAE 10W-30, SAE 10W-40, SAE 15W-40, SAE 20W-40.</p>
</div>
