@import "../partials/mixins";
.news {
    &-list {
        margin: 0;
        padding-right: 30px;
    }
    &-item {
        margin: 10px 0;
        padding: 10px 0;
        border: $bdBase;
        border-radius: 4px;
    }
    &-img {
        padding-right: 30px;
        img {
            width: 100%;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
        }
    }
    &-text {
        padding-left: 0;
        padding-right: 5px;
        &--header {
            margin-bottom: 10px;
        }
        &--info {
            font-size: em(12px);
            font-family: "OpenSans Semibold", serif;
            color: $cGrey-l;
            //color: #828C99;
            padding-right: 0;
            padding-left: 0;
            line-height: 1;
            &-content {
                white-space: nowrap;
                display: inline-block;
                vertical-align: middle;
            }
            .icon {
                vertical-align: middle;
                margin-right: 2px;
            }
            &-value {
                display: inline-block;
                vertical-align: middle;
            }
        }
        &--title {
            font-family: $ffTitleMain;
            font-size: em(18px);
            line-height: em(22px, 18px);
            padding-left: 0;
            padding-bottom: 0;
            padding-top: 0;
            margin: 0;
        }
        &--content {
            font-size: em(14px);
            line-height: em(18px, 14px);
            font-family: "OpenSans", serif;
            margin: 0;
        }
    }
}