<div class="comments-block col-sm-8 col-sm-push-2">
    <p class="comments-total" data-count="@@commentsCount"><span>@@commentsCount комментария</span></p>
    <ul class="comments-list" data-total="@@count">
        @@for (var i = 0; i < count; i++) {
        <li class="comments-item">
            <div class="comments-icon"><i class="user-icon icon"></i></div>
            <div class="comments-text">
                <div class="comments-text--title"><span class="comments-text--name">Макс Петров</span><span class="comments-text--time">6:03</span></div>
                <p class="comments-text--comment">На фоне электромобиля гибридный Ioniq не столь азартен. Нет,
                    рулится он даже лучше, легче проходит повороты, но гибридная силовая установка ничего не может
                    противопоставить <a href="#" class="more-link">(...)</a></p>
            </div>
        </li>
        }
    </ul>
    <button class="btn btn-default comments-more">Показать еще</button>
    <form action="#" class="comments-form">
        <div class="form-group">
            <input type="text" class="form-control comments-form--input" placeholder="Оставить отзыв">
            <button class="comments-form--btn"><i class="icon icon-paper-plane"></i></button>
        </div>
    </form>
</div>