		</div> <!-- content #END -->
	</div> <!-- row #END -->
</div> <!-- container #END -->
<footer id="footer">
	<div class="footer-container container">
		<div class="row">
			<div class="clearfix">
				<div class="footer-column-left col-sm-3">
					<h6 class="title--footer">Контакты</h6>
					<p class="footer--text">Тел.(067) 431-82-29,</p>
					<p class="footer--text">(093) 190-27-23, (050) 416-86-88</p>
					<a href="mailto:Autosite@com.ua" class="footer--text">Autosite@com.ua</a>
				</div>
				<div class="footer-column-center col-sm-6 copyright">
					<h6 class="title--footer">Для партнеров<br/>Реклама (условия)</h6>
					<p class="copyright--text">2016 Auto-Site.com<br/>Все права защищены</p>
				</div>
				<div class="footer-column-right col-sm-3">
					<h6 class="title--footer">Мы в социальных сетях:</h6>
					<ul class="footer-social--list">
						<li class="footer-social--item"><a href="#" class="footer-social--link"><i class="icon icon-facebook"></i></a></li>
						<li class="footer-social--item"><a href="#" class="footer-social--link"><i class="icon icon-twitter"></i></a></li>
						<li class="footer-social--item"><a href="#" class="footer-social--link"><i class="icon icon-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<script src="js/global.js"></script>
@@if(src) {<script src="js/@@src"></script>}
</body>
</html>