<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/global.css">
	@@for (var i = 0; i < modules.length; i++) {
	<link rel="stylesheet" href="css/modules/`+modules[i]+`.css">
	}
	@@if(link) {<link rel="stylesheet" href="css/@@link">}
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="header_top">
				<img src="img/b/top.jpg" alt="top image" class="img-responsive">
			</div>
			<div class="b-main-left b-main"><img src="img/b/main_left.jpg" alt="main left"></div>
			<div class="b-main-right b-main"><img src="img/b/main_right.jpg" alt="main right"></div>
			<header class="clearfix" id="header">
				<div class="col-sm-3 b-header b-header--left">
                    <div class="row">
						<img src="img/b/header.jpg" alt="header image" class="img-responsive">
					</div>
				</div>
				<div class="col-sm-6 header--center">
					<div class="row">
						<div id="header_logo"><img src="img/logo.png" alt="logo" class="img-responsive"></div>
						<div id="search-block" class="search-block">
							<form action="#" class="search-form">
								<input type="text" class="form-control search-form--input" placeholder="Поиск по сайту">
								<button class="search-form--button">
									<i class="icon icon-search" aria-hidden="true"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
                <div class="col-sm-3 b-header b-header--right">
                    <div class="row">
						<img src="img/b/header.jpg" alt="header image" class="img-responsive">
					</div>
				</div>
			</header>
			<nav class="horisontal_menu">
				<ul class="clearfix">
					<li><a href="#">Новости</a>
						<ul>
							<li><a href="#">Подменю 1</a></li>
							<li><a href="#">Подменю 2</a></li>
							<li><a href="#">Подменю 3</a></li>
							<li><a href="#">Подменю 4</a></li>
						</ul>
					</li>
					<li><a href="#">Спорт</a>
						<ul>
							<li><a href="#">Подменю 1</a></li>
							<li><a href="#">Подменю 2</a></li>
							<li><a href="#">Подменю 3</a></li>
							<li><a href="#">Подменю 4</a></li>
						</ul>
					</li>
					<li><a href="#">Все об авто</a>
						<ul>
							<li><a href="#">Подменю 1</a></li>
							<li><a href="#">Подменю 2</a></li>
							<li><a href="#">Подменю 3</a></li>
							<li><a href="#">Подменю 4</a></li>
						</ul>
					</li>
					<li><a href="#">Статистика</a>
						<ul>
							<li><a href="#">Подменю 1</a></li>
							<li><a href="#">Подменю 2</a></li>
							<li><a href="#">Подменю 3</a></li>
							<li><a href="#">Подменю 4</a></li>
						</ul>
					</li>
					<li><a href="#">Топливо</a>
						<ul>
							<li><a href="#">Подменю 1</a></li>
							<li><a href="#">Подменю 2</a></li>
							<li><a href="#">Подменю 3</a></li>
							<li><a href="#">Подменю 4</a></li>
						</ul>
					</li>
					<li><a href="#">Шины</a>
						<ul>
							<li><a href="#">Подменю 1</a></li>
							<li><a href="#">Подменю 2</a></li>
							<li><a href="#">Подменю 3</a></li>
							<li><a href="#">Подменю 4</a></li>
						</ul>
					</li>
					<li><a href="#">Моторные масла</a>
						<ul>
							<li><a href="#">Подменю 1</a></li>
							<li><a href="#">Подменю 2</a></li>
							<li><a href="#">Подменю 3</a></li>
							<li><a href="#">Подменю 4</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<div class="content">