<div id="@@id" class="tab-pane fade">
    <ul class="news-list">
        @@for (var i = 0; i < 5; i++) {
            <li class="news-item clearfix">
                <div class="news-img col-sm-4"><img src="img/news.jpg" alt="news img" class="img-responsive"></div>
                <div class="news-text col-sm-8">
                    <h3 class="news-text--title">Тройной: Первое знакомство<br/>с Hyundai Ioniq</h3>
                    <p class="news-text--content">Представленный в начале года лифтбек Hyundai Ioniq стал первым в мире автомобилем с
                        тремя типами <a href="#" class="more-link">(Подробнее...)</a></p>
                </div>
            </li>
        }
    </ul>
</div>