@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
// font
$ffBase: 'Roboto Regular', serif;
$ffTitleMain: 'Roboto Bold', serif;
$ffTitleSub: 'Roboto Black', serif;
$fsBase: 16px;
// background
$bgBase: #efefef;
$bgLight: #fff;
$bgDark: #000;
$bgGrey: #bbb;
$bgBlue: #1A73A1;
// border
$bdBaseColor: #ccc;
$bdExtraDarkColor: #000;
$bdDarkColor: #333;
$bdLightColor: #fff;
$bdGreyColor: #bbb;
$bdGreyColor-l: #E7E7E7;
$bdGreyColor-d: #999;
$bdGreenColor: #9C3;
$bdBlue-l: #2196F3;
$bdBase: 1px solid $bdBaseColor;
//color
$cBase: #333;
$cLight: #fff;
$cDark: #000;
$cRed: red;
$cGreen: #9C3;
$cBlue: #06C;
$cBlue-l: #2196F3;
$cGrey: #666;
$cGrey-l: #86939E;
$cPlaceholder: #999;