@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
// font
$ffBase: '';
$ffTitleMain: '';
$ffTitleSub: '';
$fsBase: 16px;
// background
$bgBase: '';
// border
$bdBaseColor: '';
$bdBase: $bdBaseColor;
//color
$cBase: '';
$cTitleMain: '';
$cTitleSub: '';
$cRed: red;