<div id="@@id" class="tab-pane fade">
    <ul class="news-list">
        @@for (var i = 0; i < 6; i++) {
            <li class="news-item clearfix">
                <div class="news-img col-sm-4"><img src="img/news.jpg" alt="news img" class="img-responsive"></div>
                <div class="news-text col-sm-8">
                    <div class="news-text--header clearfix">
                        <h3 class="news-text--title col-sm-7">Тройной: Первое знакомство с Hyundai Ioniq</h3>
                        <div class="news-text--info col-sm-5">
                            <span class="news-text--info-date news-text--info-content"><i class="icon clock-icon"></i><span
                                    class="news-text--info-value">9 ноября, 2016</span></span>
                            <span class="news-text--info-chat news-text--info-content"><i class="icon chat-icon"></i><span
                                    class="news-text--info-value">12</span></span>
                            <span class="news-text--info-eye news-text--info-content"><i class="icon eye-icon"></i><span
                                    class="news-text--info-value">56</span></span>
                        </div>
                    </div>
                    <p class="news-text--content">Представленный в начале года лифтбек Hyundai Ioniq стал первым в мире автомобилем с
                        тремя типами <a href="#" class="more-link">(Подробнее...)</a></p>
                </div>
            </li>
        }
    </ul>
</div>