<ul>
    <li class="active"><a href="#">Formula 1</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">WRC</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">DTM</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">WTCC</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">LE MANS</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
</ul>
