<div id="@@id" class="tab-pane fade">
    <div class="page-header">
        <h1 class="page-header--title title title--main">Formula 1</h1>
        <div class="page-header--info">
                            <span class="page-header--info-date page-header--info-content"><i
                                    class="icon clock-icon"></i><span
                                    class="page-header--info-value">9 ноября, 2016</span></span>
            <span class="page-header--info-chat page-header--info-content"><i class="icon chat-icon"></i><span
                    class="page-header--info-value">12</span></span>
            <span class="page-header--info-eye page-header--info-content"><i class="icon eye-icon"></i><span
                    class="page-header--info-value">56</span></span>
        </div>
    </div>
    <p class="page-quote">оторные масла делят на бензиновые, дизельные и универсальные. Также масла подразделяют на летние, зимние и всесезонные. Особенностью каждой группы являются классы вязкости.</p>
    <div class="page-image">
        <img src="img/sport.jpg" alt="oil" class="img-responsive">
    </div>
    <div class="page-text">
        <p>Под названием «Формула 1» чемпионаты проводятся с 1950-го года, однако и до этого проводились регулярные Гран При, но не было централизованной системы начисления очков за победы на этапах. </p>
        <p>За Формулой 1 закрепились названия «королева автоспорта» или «королевские гонки». Это связано с тем, что Формула 1 считается самой престижной гоночной серией в мире и вершиной карьеры для большинства автогонщиков. Причин этому несколько:
            <br/>1)	Высочайший уровень техники в Формуле-1, делающий ее болиды самыми быстрыми болидами с учетом ограничений, которые установлены техническим регламентом;
            <br/>2)	Невероятная дороговизна Формулы 1. Самые успешные команды ежегодно тратят сотни миллионов долларов, немалую долю которых составляют гонорары самих гонщиков, получающих миллионы, а иногда – десятки миллионов ежегодно.
            <br/>3)	Всемирная популярность Формулы 1. Королеву автоспорта во всем мире смотрят миллионы болельщиков, а автодромы, принимающие у себя Гран При, собирают сотни тысяч человек. </p>
        <p>Чтобы глубже понять, как работает Формула 1, будет полезным рассмотреть основные понятия, из которых состоит этот вид спорта. </p>
    </div>
</div>