<ul>
    <li><a href="#">История</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">Концерны и группы</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">Категории и классы</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li class="parent"><a href="#">Марки авто</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">Тесты авто</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
    <li><a href="#">Резерв</a>
        <ul>
            <li><a href="#">Подменю1</a></li>
            <li><a href="#">Подменю2</a></li>
            <li><a href="#">Подменю3</a></li>
        </ul>
    </li>
</ul>